<!DOCTYPE html>
html(lang="en")
    head
        
        link(rel="stylesheet", href="stylesheets/style.css")
        link(rel="stylesheet", href="/javascripts/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href='/javascripts/bootstrap/4.3.1/css/bootstrap-flat.css')
        //- Fontawesome
        link(rel="stylesheet", href="/javascripts/fontawesome/5.9.0/css/all.min.css")

    body
        block content
            script(src="/javascripts/bootstrap/4.3.1/js/bootstrap.bundle.min.js")
            //- jquery
            script(src="/javascripts/jQuery/3.4.1/jquery-3.4.1.min.js")
